build/
cmake-build-debug/
clang/
third-party/
temp/*
test/*

!temp/.gitkeep
!test/.gitkeep

build-llvm/
build-spirv/
llvm-project/
llvm-spirv/
spirv/
spirv-cross/

.idea
.vscode
.vs
.DS_Store
